@use "styles/tailwind.css";

/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "D2R";
  src: url("assets/fonts/ExocetBlizzardMixedCaps-Medium.eot"); /* IE9 Compat Modes */
  src: url("assets/fonts/ExocetBlizzardMixedCaps-Medium.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("assets/fonts/ExocetBlizzardMixedCaps-Medium.otf") format("opentype"), /* Open Type Font */
  url("assets/fonts/ExocetBlizzardMixedCaps-Medium.ttf") format("truetype"), /* Safari, Android, iOS */
  url("assets/fonts/ExocetBlizzardMixedCaps-Medium.woff") format("woff"), /* Modern Browsers */
  url("assets/fonts/ExocetBlizzardMixedCaps-Medium.woff2") format("woff2"), /* Modern Browsers */
  url("assets/fonts/ExocetBlizzardMixedCaps-Medium.svg#ExocetBlizzardMixedCaps-Medium") format("svg");
  font-style: normal;
}

.font-resurrected {
  font-family: D2R !important;
  font-size: inherit;
}

.font-neutral {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: inherit;
}

body {
  padding: 0 !important;
  background-color: black !important;
  color: white !important;
}

.runes span {
  padding: 0 5px 0 5px;
}

.runeword-types span {
  padding: 0 5px 0 5px;
}

.set-header {
  font-size: 26px;
}